services:
  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certs:/etc/letsencrypt
      - ./nginx-logs:/var/log/nginx
      - ./webroot:/webroot
      - ./entrypoint.sh:/app/entrypoint.sh:ro  # Mount the entrypoint script
    entrypoint: /app/entrypoint.sh
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost" ]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - shared_network

  certbot:
    image: certbot/certbot
    container_name: certbot
    depends_on:
      nginx:
        condition: service_started
    volumes:
      - ./certs:/etc/letsencrypt
      - ./webroot:/webroot
      - ./certbot-logs:/var/log/letsencrypt
    entrypoint: >
      /bin/sh -c '
      if [ ! -d "/etc/letsencrypt/live/langkilde.se" ]; then
        certbot certonly --webroot --webroot-path=/webroot \
          --email daniel.langkilde@gmail.com --agree-tos --no-eff-email \
          -d langkilde.se -d www.langkilde.se -d daniel.langkilde.se -d www.daniel.langkilde.se;
      fi;
      while :; do
        certbot renew --quiet --deploy-hook "docker exec nginx nginx -s reload";
        sleep 12h;
      done'
    networks:
      - shared_network

networks:
  shared_network:
    external: true